{% extends 'base.html.twig' %}

{% block title %}Nueva tarea{% endblock %}

{% block body %}
    <h1>Crear nueva tarea</h1>

    {{ include('tarea/_form.html.twig') }}

    <a href="{{ path('index') }}" class="btn btn-primary mg-3">Volver</a>
{% endblock %}
